**/.DS_Store
nbproject
manifest.mf
build.xml
.project
.settings
.idea/*
src/mapp/.idea/*
app/node_*
.tmp/*
.ctags
nohup.out
vorlonjs.log
src/mapp/src/resource/css/style.css
src/mapp/.idea/*
*.log
output.zip
nohup.out
node_modules/*
output/*
.vscode/*